
# BEGIN WordPress
# Las directivas (líneas) entre «BEGIN WordPress» y «END WordPress» son
# generadas dinámicamente y solo deberían ser modificadas mediante filtros de WordPress.
# Cualquier cambio en las directivas que hay entre esos marcadores serán sobrescritas.

# END WordPress
# BEGIN Simply Static
# The directives (lines) between "BEGIN Simply Static" and "END Simply Static" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<Files "C:\xampp\htdocs\adm-freddy_copa_uyuni/wp-content/uploads\simply-static\9f3e2afda1a80affe226968fc2ffb42e-debug.txt">
require all denied
require host localhost
</Files>
# END Simply Static